@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

$body-color: #009032;
$bodyFont-color: white;
$border-color: $bodyFont-color;
$main-font: 'Cairo', sans-serif;

%active {
    display: flex;
}

%notActive {
    display: none;
    transition: all 0.5s ease-in-out;
    z-index: 100;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    color: $bodyFont-color;
    font-family: $main-font;

    header {
        text-align: center;
        background-color: darken($body-color, 10%);
        padding: 10px;
    }

    main {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20px;

        .container {
            border: 3px solid $border-color;
            border-radius: 10px;
            width: 500px;
            height: 400px;

            img {
                height: 265px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 50px;
                z-index: -100;
            }

            #click {
                border: 1px solid $border-color;
                width: 100px;
                height: 30px;
                font-size: 15px;
                color: $bodyFont-color;
                background-color: darken($body-color, 5%);
                border-radius: 2px;

                &:hover {
                    font-weight: bold;
                    border: 1.7px solid $border-color;
                    background-color: darken($body-color, 15%);

                }

                &:active {
                    background-color: darken($body-color, 5%);

                }
            }

            .congPharse-container {
                @extend %notActive;
                width: 450px;
                height: 300px;
                background-color: white;
                margin: auto 20px;


                &.open {
                    @extend %active;
                }

                #pharse {
                    @extend %notActive;
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    color: black;
                    font-size: 25px;
                    margin-top: 20px;

                    &.open {
                        @extend %active;
                    }
                }

                #close {
                    @extend %notActive;
                    display: block;
                    background-color: rgba(255, 255, 255, 0);
                    width: 30px;
                    height: 30px;
                    padding-left: 2%;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.153);
                        font-weight: bold;
                    }

                    &:active {
                        background-color: rgba(0, 0, 0, 0.322);
                    }

                    &.open {
                        @extend %active;
                    }

                }
            }

        }
    }


    footer {
        text-align: center;
        margin-top: 20px;
    }

}


// make the website reponsive with phones

@media screen and (max-width: 600px){

    body {
        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
        }
    }

    header {
        max-width: 100%;
    }

    img {
        display: none;
    }

    #close {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }

    .container {
        margin: auto 5px;
    }

}